*{
    margin:0;
    padding:0;
}
.heading{
    background-color: #081b31;
    color:white;
    height: 5rem;
    line-height: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color:white;
    text-align:center;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow: 0px 0px 20px 2px black;
    font-size:8vmin;
    color:#040200;
    background-color:darkkhaki;
    font-family: calibri;
}
#resetbtn{
    padding:1rem;
    font-size:1.25rem;
    color:blanchedalmond;
    background-color:#081b31;
    font-weight: bold;
    border-radius: 1rem;
}
#msg{
    color:darkmagenta;
    font-weight:bold;
    font-size:5vmin;
}
.hide{
    display:none;
}
.mode{
    position:fixed;
    top: 20px;
    right:20px;
    background-color:darkslateblue;
    color:white;
    height:40px;
    width:80px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer;
}
.dark{
    background-color:rgb(26, 25, 25);
    color:white;
}
.light{
    background-color: whitesmoke;
    color:black;
}